{
  "name": "presto-template-{{name}}",
  "version": "0.1.0",
  "description": "{{description}}",
  "type": "module",
  "scripts": {
    "build": "bun build --compile src/index.ts --outfile presto-template-{{name}}",
    "start": "bun run src/index.ts"
  },
  "author": "{{author}}",
  "license": "{{license}}"
}
